.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    transition: .5s;
}

.header:hover {
    /* animation-name: give-color; */
    /* animation-duration: .5s; */
    /* animation-timing-function: ease-in; */
    color:fuchsia;
}
/* @keyframes give-color {
    from {color: black}
    to {color: cyan}
} */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-25px);
    }
    50% {
        opacity: .5;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.welcome {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;

}
p h1 ul li h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.observations{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.personas {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: .2s;
}

.personas:hover {
    background-color: lightgrey;
}

.observations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img {
    border-radius: 4px;
  }

  .storyboard {
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .start{
    transition: .2s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .start:hover {
    background-color: lightgrey;
  }